[project]
name = "hammad"
version = "0.0.1"
description = """hammad - *Nightly* hyper-fast opinionated resources and modules built for quick development."""
readme = "README.md"
requires-python = ">=3.11"
authors = [
    {name = "Hammad Saeed", email = "hammadaidev@gmail.com"},
]
dependencies = [
    "docstring-parser>=0.16",
    "msgspec>=0.19.0",
    "platformdirs>=4.3.8",
    "sqlalchemy>=2.0.41",
    # Tantivy is used to implement `hammad.objects.database` at the core level.
    "tantivy>=0.24.0",
    "typing-inspect>=0.9.0",
]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project.optional-dependencies]
# For Agents, Embeddings & Chat Services
ai = [
    "ollama>=0.5.1",
    "qdrant-client>=1.12.1",
]
serve = [
    "fastapi>=0.115.8",
    "uvicorn>=0.34.0",
    "python-multipart>=0.0.19",
    "sse-starlette>=1.1.0",
]

[dependency-groups]
dev = [
    "ruff",
    "uv",
    "pytest",
    "twine>=6.1.0",
]
